.col-1 {width: 7.33%;}
.col-2 {width: 15.66%;}
.col-3 {width: 24%;}
.col-4 {width: 32.33%;}
.col-5 {width: 40.66%;}
.col-6 {width: 49%;}
.col-7 {width: 57.33%;}
.col-8 {width: 65.66%;}
.col-9 {width: 74%;}
.col-10 {width: 82.33%;}
.col-11 {width: 90.66%;}
.col-12 {width: 99%;}


body {
  	margin: 0 auto;
  	max-width: 100%;
	/*height: 100vh;*/

}

.main-container{
	padding-top:3em;
	padding-bottom: 2em;
	height: 90vh;//remove
	position: relative;
	/*background: green;	*/

}

.main-container .edit{
	padding-top: .5em;
	margin-left: 12.5em;/*200px*/	
	min-height:85vh;
	transition: margin-left 0.2s ease-out;
	/*background: red;*/	
	/*display: none;*/
}


.nav-bar{
	height: 3em;
	position: fixed;
	z-index: 15;
	top: 0px;
	left: 0px;
	right:0px;
	background: #bfec34;
	padding: 5px;
}

.side-bar{
	position: fixed;
    width: 11.25em;/*180px*/
    left: 0;
    bottom: 0;
    top: 3.5em;
    background: #f5a266;
    padding-top: 1em;
    /*padding-left: 10px;*/
    z-index: 10;
    transition: max-width 0.8s ease-out;
}

.wrapper{
	border: 2px solid transparent;
	padding: 20px 10px 5px 10px;
	margin: 10px;
	/*min-height: 100px;*/
	position: relative;
	border-radius: 5px;
	background: #e5e3e1;
}

.inline-wrapper{
	border: 2px solid transparent;
	padding: 20px 10px 5px 10px;
	margin: 10px;
	/*min-height: 100px;*/
	position: relative;
	border-radius: 5px;
	background: #e5e3e1;
	display: inline-block;
}

.grid{
	border: 1px solid yellow;
	background: #fbfaf9;
	/*display: inline-block;*/
	min-height: 100px;
	border-radius: 5px;
	margin: 0.5%;
	align-self: top;
	box-sizing: border-box;
}
.grid+.grid{
	height: height;

}

.close-edit{
	position: absolute;
	top: 0;
	right: 0;
	background-color: tomato;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 3px;
	font-size: 12px;
}







