.text .notification a{ text-decoration: none; color: skyblue;}
.text .username a{ text-decoration: none; color: skyblue;}
.text .subscribed a{text-decoration: none; color: green;}
.text .album a{text-decoration: none; color: skyblue;}